.about-showcase {
    display: flex;
    flex-wrap: wrap;
    flex-flow: wrap;
    background-image: url("../img/aboutback.bmp");
    background-color: $white;
    height: auto;
    width: 100%;
    margin-top: -10px;
    padding-top: 0;
    justify-content: left;
}

@media only screen and (max-width: 1000px) {
    .about-showcase {
        display: flex;
        flex-wrap: wrap;
        flex-flow: wrap;
        background-color: $white;
        height: auto;
        width: 100%;
        padding-top: 0;
        justify-content: left;
    }
}

.about-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url("../img/aboutback.bmp");
    background-color: $white;
    height: auto;
    width: 100%;
    padding-top: 0;
    justify-content: space-evenly;
}

@media only screen and (max-width: 1000px) {
    .about-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: $white;
        height: auto;
        width: 100%;
        padding-top: 0;
        justify-content: space-evenly;
    }
}

.about-text {
    display: flex;
    flex-direction: column;
    background-image: url("../img/aboutback.bmp");
    background-color: $white;
    height: 800px;
    width: 50%;
    justify-content: flex-start;
}

@media only screen and (max-width: 1000px) {
    .about-text {
        display: flex;
        flex-direction: column;
        background-color: $white;
        height: auto;
        width: 80%;
        justify-content: center;
        align-self: center;
        align-content: center;
    }
}

.about-title {
    font-size: 6rem;
    color: $white;
    margin-top: 1vh;
    margin-left: 4vw;
    border-bottom: solid $darkred 2px;
}

@media only screen and (max-width: 1000px) {
    .about-title {
        font-size: 8rem;
        align-self: center;
        color: $white;
        border-bottom: solid $darkred 2px;
    }
}

.about-content {
    font-size: 1.5rem;
    margin-left: 80px;
    color: $white;
}

@media only screen and (max-width: 1000px) {
    .about-content {
        font-size: 3rem;
        text-align: center;
        color: $white;
    }
}

.about-card {
    width: 400px;
    height: 500px;
    background-color: $mediumblue;
    transition: all 1s ease-in;
    -webkit-box-shadow: -32px 30px 21px -33px rgba(0, 0, 0, 1);
    -moz-box-shadow: -32px 30px 21px -33px rgba(0, 0, 0, 1);
    box-shadow: -32px 30px 21px -33px rgba(0, 0, 0, 1);
    align-self: flex-start;
    margin-top: 100px;
}

@media only screen and (max-width: 1000px) {
    .about-card {
        width: 80vw;
        height: 500px;
        background-color: $mediumblue;
        transition: all 1s ease-in;
        -webkit-box-shadow: -32px 30px 21px -33px rgba(0, 0, 0, 1);
        -moz-box-shadow: -32px 30px 21px -33px rgba(0, 0, 0, 1);
        box-shadow: -32px 30px 21px -33px rgba(0, 0, 0, 1);
        align-self: center;
        margin-top: 100px;
    }
}

.big-card {
    width: 800px;
    height: 600px;
    background-color: $mediumblue;
    transition: all 1s ease;
    -webkit-box-shadow: -32px 30px 21px -33px rgba(0, 0, 0, 1);
    -moz-box-shadow: -32px 30px 21px -33px rgba(0, 0, 0, 1);
    box-shadow: -32px 30px 21px -33px rgba(0, 0, 0, 1);
    align-self: flex-start;
    margin-top: 100px;
}

@media only screen and (max-width: 1000px) {
    .big-card {
        width: 80vw;
        height: 500px;
        background-color: $mediumblue;
        -webkit-box-shadow: -32px 30px 21px -33px rgba(0, 0, 0, 1);
        -moz-box-shadow: -32px 30px 21px -33px rgba(0, 0, 0, 1);
        box-shadow: -32px 30px 21px -33px rgba(0, 0, 0, 1);
        align-self: center;
        margin-top: 100px;
    }
}