.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/ship-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.form-container {
    font-family: $fonts2;
    display: flex;
    flex-direction: row;
    color: $mediumblue;
    width: 60%;
    min-height: 60vh;
    overflow: hidden;
    background-color: $white;
    opacity: 1;
    -webkit-box-shadow: -32px 30px 21px -33px rgba(0, 0, 0, 1);
    -moz-box-shadow: -32px 30px 21px -33px rgba(0, 0, 0, 1);
    box-shadow: -32px 30px 21px -33px rgba(0, 0, 0, 1);
    align-self: center;
}

@media only screen and (max-width: 1000px) {
    .form-container {
        width: 95%;
        min-height: 70vh;
        flex-wrap: wrap;
        background-color: $white;
        -webkit-box-shadow: -32px 30px 21px -33px rgba(0, 0, 0, 1);
        -moz-box-shadow: -32px 30px 21px -33px rgba(0, 0, 0, 1);
        box-shadow: -32px 30px 21px -33px rgba(0, 0, 0, 1);
        align-self: center;
    }
}

.welcome {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    margin-top: 8%;
    margin-right: 5%;
    width: 50%;
    h1 {
        font-size: 3rem;
    }
    a {
        margin-top: 4%;
        text-decoration: none;
    }
}

.sign-in-container {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-top: 8%;
    width: 50%;
    h1 {
        align-self: center;
        margin-bottom: 6%;
        padding-bottom: 0px;
    }
    form {
        margin-top: -3rem;
        padding: 0px;
        align-items: center;
        align-content: center;
    }
    input {
        border: none;
        width: 20vw;
        border-bottom: 2px $lightred solid;
        margin-top: 50px;
    }
    input:focus {
        border-bottom: 3px $lightred solid;
        outline: none;
    }
    input::placeholder {
        color: $mediumblue;
        font-size: 1rem;
        font-family: $fonts2;
    }
    .btn-div {
        align-self: center;
        justify-self: center;
        text-align: center;
        .form_btn {
            align-self: center;
            justify-self: center;
            text-align: center;
            padding: .6rem 2.4rem .6rem 2.4rem;
            color: $white;
            font-family: $fonts2;
            font-size: 1.5rem;
            transition: all .1s step-start;
            background-color: $mediumblue;
            margin-top: 3rem;
            border: none;
            margin-bottom: 2%;
            cursor: pointer;
        }
        .form_btn:active {
            align-self: center;
            justify-self: center;
            text-align: center;
            padding: .6rem 2.4rem .6rem 2.4rem;
            color: $white;
            font-family: $fonts2;
            font-size: 1.6rem;
            transition: all .1s step-start;
            background-color: $darkblue;
            margin-top: 3rem;
            border: none;
            margin-bottom: 2%;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .welcome {
        display: flex;
        align-items: center;
        flex-direction: column;
        align-content: center;
        margin-top: 8%;
        margin-right: 0%;
        width: 100%;
        h1 {
            font-size: 6rem;
        }
        a {
            margin-top: 4%;
            font-size: 2rem;
            text-decoration: none;
        }
    }
    .sign-in-container {
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
        margin-top: -4rem;
        width: 100%;
        h1 {
            align-self: center;
            font-size: 6rem;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }
        form {
            margin-top: -5rem;
            padding: 0px;
            align-items: center;
            align-content: center;
        }
        input {
            border: none;
            width: 60vw;
            height: 4rem;
            border-bottom: 4px $lightred solid;
            margin-top: 50px;
            font-size: 2rem;
        }
        input:focus {
            outline: none;
            border-bottom: 6px $lightred solid;
        }
        input::placeholder {
            color: $mediumblue;
            font-size: 2rem;
            font-family: $fonts2;
        }
        a {
            font-size: 2rem;
        }
    }
    .form_btn {
        align-self: center;
        justify-self: center;
        text-align: center;
        padding: .6rem 2.4rem .6rem 2.4rem;
        color: $white;
        width: 50%;
        height: 5rem;
        font-family: $fonts2;
        background-color: $mediumblue;
        margin-top: 3rem;
        border: none;
    }
}