.burger {
    display: none;
}

.burger {
    div {
        width: 3rem;
        height: .3vh;
        background-color: $darkblue;
        margin: .3vh;
        cursor: pointer;
    }
}

@media only screen and (max-width: 1000px) {
    .burger {
        display: block;
        position: absolute;
        margin-top: 1vh;
    }
    .navbar {
        z-index: 4;
        background-color: $white;
        justify-content: space-evenly;
        flex-direction: row;
        flex-basis: content;
        position: fixed;
        display: flex;
        align-content: center;
        align-items: center;
        width: 100%;
        height: 8vh;
        overflow: hidden;
        padding-bottom: 0rem;
        margin-top: -1.8vh;
        margin-bottom: -1vh;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .nav-left {
        display: none;
        justify-content: flex-end;
        flex-direction: row;
        width: 45%;
        background-color: $white;
        height: 100%;
    }
    .logo-img {
        align-self: flex-start;
        height: 3.5rem;
        width: 7rem;
        margin-top: 2vh;
        margin-left: -40vw;
    }
    #logo-id {
        font-family: $fonts;
        font-weight: bold;
        font-size: 1.5rem;
        color: $lightblue;
    }
    .nav-mid {
        display: none;
        justify-content: flex-end;
        flex-direction: row;
        background-color: $darkblue;
        width: 55%;
        height: 100%;
    }
    .nav-right {
        display: none;
        justify-content: center;
        flex-direction: row;
        background-color: $mediumblue;
        width: 5%;
        height: 100%;
    }
    .nav-links-left {
        display: none;
        padding-top: 2vh;
        padding-left: .5vw;
        padding-right: .5vw;
        position: relative;
        top: 1rem;
    }
    .nav-links-left a {
        display: none;
        text-decoration: none;
        border-bottom: 1px transparent solid;
        padding-bottom: 0rem;
        transition: border-color 0.5s;
        color: $gray;
        font-family: $fonts;
        font-size: 1rem;
        position: relative;
    }
    .nav-links-mid {
        display: none;
        padding-top: 2vh;
        padding-left: .8vw;
        padding-right: .8vw;
        position: relative;
        top: 1rem;
    }
    .nav-links-mid a {
        display: none;
        text-decoration: none;
        border-bottom: 1px transparent solid;
        padding-bottom: 0rem;
        transition: border-color 0.5s;
        color: $white;
        font-family: $fonts;
        font-size: 1rem;
    }
    .nav-links-right {
        display: none;
        position: relative;
        top: 2.15rem;
    }
    .nav-links-right a {
        display: none;
        text-decoration: none;
        border-bottom: 1px transparent solid;
        padding-bottom: 0rem;
        transition: border-color 0.5s;
        color: $white;
        font-family: $fonts;
        font-size: 1rem;
    }
}