.burger {
    display: none;
}

.burger {
    div {
        width: 3.5rem;
        height: .5vh;
        background-color: $darkblue;
        margin: .3vh;
        cursor: pointer;
        transition: all 0.3s ease;
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-2vw, -1vw);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-2vw, -1vw);
}

.mobile-link-box {
    display: none;
}

.login-icon {
    display: none
}

@media only screen and (max-width: 1000px) {
    .body {
        padding-top: 8%;
    }
    .burger {
        display: block;
        position: absolute;
        margin-top: 1vh;
    }
    .navbar {
        z-index: 4;
        background-color: $white;
        justify-content: space-evenly;
        flex-direction: row;
        flex-basis: content;
        position: fixed;
        display: flex;
        align-content: center;
        align-items: center;
        width: 100%;
        height: 8vh;
        overflow: hidden;
        padding-bottom: 0rem;
        margin-top: -1.8vh;
        margin-bottom: -1vh;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .nav-left {
        display: none;
        justify-content: flex-end;
        flex-direction: row;
        width: 45%;
        background-color: $white;
        height: 100%;
    }
    .logo-img {
        align-self: flex-start;
        height: 4rem;
        width: 8rem;
        margin-top: 3vh;
        margin-left: -30vw;
    }
    .login-icon {
        display: block;
        align-self: flex-end;
        font-size: 3rem;
        margin-right: -30vw;
        margin-bottom: 1vh;
    }
    #logo-id {
        font-family: $fonts;
        font-weight: bold;
        font-size: 1.5rem;
        color: $lightblue;
    }
    .mobile-link-box {
        display: flex;
        z-index: 3;
        position: fixed;
        top: -400px;
        transition: all .4s cubic-bezier(0.6, -0.28, 0.735, 0.045);
        padding-top: 6vh;
        justify-content: flex-start;
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        flex-flow: column;
        height: fit-content;
        width: 100%;
        background-color: $white;
    }
    .mobile-link-box-active {
        display: flex;
        z-index: 3;
        position: fixed;
        top: 0px;
        transition: all .4s cubic-bezier(0.6, -0.28, 0.735, 0.045);
        padding-top: 6vh;
        justify-content: flex-start;
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        flex-flow: column;
        height: fit-content;
        width: 100%;
        background-color: $white;
    }
    .mobile-links {
        align-content: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        margin: 15px;
        padding: 15px;
    }
    .nav-links-mob a {
        text-decoration: none;
        border-bottom: 1px transparent solid;
        padding-bottom: 0rem;
        color: $gray;
        transition: all .5 ease-in;
        font-family: $fonts;
        font-size: 3rem;
        position: relative;
        margin: 10px;
        padding: 10px;
    }
    .nav-links-mob:hover a {
        text-decoration: none;
        padding-bottom: 0rem;
        transition: all .5 ease-out;
        color: $darkred;
        font-family: $fonts;
        font-size: 3rem;
        position: relative;
        margin: 10px;
        padding: 10px;
    }
    .nav-mid {
        display: none;
        justify-content: flex-end;
        flex-direction: row;
        background-color: $darkblue;
        width: 55%;
        height: 100%;
    }
    .nav-right {
        display: none;
        justify-content: center;
        flex-direction: row;
        background-color: $mediumblue;
        width: 5%;
        height: 100%;
    }
    .nav-links-left {
        display: none;
        padding-top: 2vh;
        padding-left: .5vw;
        padding-right: .5vw;
        position: relative;
        top: 1rem;
    }
    .nav-links-left a {
        display: none;
        text-decoration: none;
        border-bottom: 1px transparent solid;
        padding-bottom: 0rem;
        transition: border-color 0.5s;
        color: $gray;
        font-family: $fonts;
        font-size: 1rem;
        position: relative;
    }
    .nav-links-mid {
        display: none;
        padding-top: 2vh;
        padding-left: .8vw;
        padding-right: .8vw;
        position: relative;
        top: 1rem;
    }
    .nav-links-mid a {
        display: none;
        text-decoration: none;
        border-bottom: 1px transparent solid;
        padding-bottom: 0rem;
        transition: border-color 0.5s;
        color: $white;
        font-family: $fonts;
        font-size: 1rem;
    }
    .nav-links-right {
        display: none;
        position: relative;
        top: 2.15rem;
    }
    .nav-links-right a {
        display: none;
        text-decoration: none;
        border-bottom: 1px transparent solid;
        padding-bottom: 0rem;
        transition: border-color 0.5s;
        color: $white;
        font-family: $fonts;
        font-size: 1rem;
    }
}