//colors
$white: #FFFFFF;
$gray: #707070;
$darkblue: #201C60;
$mediumblue: #38347A;
$lightblue: #258afe;
$lightred: #A54146;
$darkred: #842428;
//fonts
$fonts: Mukta,
Proxima Nova,
Roboto,
Droid,
Helvetica Neue,
Helvetica,
Arial,
sans-serif;