//colors
$white: #FFFFFF;
$gray: #707070;
$darkblue: #1D295D;
$mediumblue: #38347A;
$lightblue: #258afe;
$lightred: #812220;
$darkred: #5d1d29;
//fonts
$fonts: 'Mukta',
Proxima Nova,
Roboto,
Droid,
Helvetica Neue,
Helvetica,
Arial,
sans-serif;
$fonts2: 'Jost',
Proxima Nova,
Roboto,
Droid,
Helvetica Neue,
Helvetica,
Arial,
sans-serif;